@charset "utf-8";

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

$Mywhite: white;
$Myblue: #4169e1;

.intro_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(../../public/img/intro_wallpaper.jpg);
    background-position: center;
    background-size: cover;

    h1 {
        margin: 0 auto;
        text-align: center;
        color: white;
    }
}

.swiper-slide {
    background: none;
}

.Main {
    position: relative;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Profile_left {
    width: 50vw;
    height: 100vh;
    background-color: $Myblue;
    font-weight: 800;
    color: $Mywhite;
    padding: 40px 80px;
    text-align: left;
}

.Profile_right {
    width: 50vw;
    height: 100vh;

    .profile_picture {
        margin-top: 250px;
        width: 80%;
        height: 50%;

        .profile_picture_list {
            background-color: gray;
        }
    }

}

.Skill_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .Skill_left {
        width: 60%;
        height: 70%;
        background-color: $Mywhite;
    }

    .Skill_right {
        width: 30%;
        height: 80%;
        background-color: #4169e1;
        border-radius: 80px;
    }
}
.Portfolio{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .Portfolio_left {
        width: 50%;
        height: 70%;
        background-color: $Mywhite;
        margin-left: 100px;
    }

    .Portfolio_image {
        width: 493px;
        height: 60%;
    }
}