@charset "utf-8";

@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

$Mywhite: #ffffff;
$Myblue: #4169e1;
$MyOrange: #ff7722;

// Color list
$Html: #d84924;
$Css: #2299f8;
$Javascript: #d4b830;
$Scss: #cd6799;
$Jquery: #0868ac;
$Json: #000000;
$Ajax: #1f5fa9;
$React: #61dafb;
$Bootstrap: #563d7c;
$Router: #d0021b;
$Redux: #764abc;
$Photoshop: #31a8ff;
$Illustrator: #ff9a00;
$Figma: #dd5a33;
$Github: #9b59b6;
$Nodejs: #539e43;
$Mysql: #3399db;

// Intro

.intro_wallpaper {
    opacity: 40%;
}

.intro_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;

    video {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
    }
}

.intro_populate {
    position: absolute;
    width: 100%;
    top: 33%;

    h1 {
        font-size: 24px;
        text-align: center;
        color: $Mywhite;
        line-height: 86px;
        letter-spacing: 2px;

        span {
            font-size: 56px;
        }

    }

    h6 {
        width: 340px;
        letter-spacing: 4px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: $Mywhite;
        margin: 0 auto;
        text-align: right;
        position: relative;
    }

    h6:before {
        content: '';
        width: 160px;
        height: 1px;
        background: rgba(255, 255, 255, 0.3);
        position: absolute;
        bottom: 10px;
        left: -10px;
    }
}

.swiper.Main {

    .swiper-pagination {
        width: 30%;
        margin-bottom: 10px;

        .swiper-pagination-bullet {
            opacity: 100;
            background-color: $Mywhite;
            width: 16px;
            height: 16px;
            margin-right: 25px;

            &-active {

                background-color: $Myblue;
                border: 3px solid $Mywhite;
            }
        }
    }

}

// Profile
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Profile_left {
    width: 50vw;
    height: 100vh;
    background-color: $Myblue;
    font-weight: 800;
    color: $Mywhite;
    padding: 80px 120px;
    text-align: left;

    h4 {
        margin-top: 50px;
        font-size: 60px;
        text-align: end;
    }

    h5 {
        font-size: 28px;
        font-weight: 500;
        text-align: end;
    }

    h3 {
        margin-top: 80px;
        letter-spacing: 3px;
    }

    p {
        margin-top: 80px;
        font-weight: 400;

        span {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
}

.Profile_right {
    width: 50vw;
    height: 100vh;



    .profile_picture {
        margin-top: 250px;
        width: 80%;
        height: 50%;

        .profile_picture_list {
            background-color: $Mywhite;
        }
    }

}



// SKILL
.Skill_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .Skill_left {
        width: 60%;
        height: 80%;
        background-image: url(../../public/img/Base.png);
        background-size: cover;
        background-position: center;
        padding: 80px 200px;
        text-align: left;

        h2{
            font-size: 48px;
            color: $Myblue;
            margin-bottom: 60px;
        }

h3{
    color: $Myblue;
    font-weight: 600;
}

h4{
    color: $Myblue;
    margin-left: 30px;
    letter-spacing: 1px;
    line-height: 25px;
}

h5{
    font-size: 20px;
    font-weight: 600;
    opacity: 40%;
}

        img {
            height: 80px;
            width: 80px;
        }

.skill_icon_title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .skill_title_page{
        display: flex;
        align-items: center;
    }
}

        .skill_icon_list {
            display: flex;
            flex-wrap: wrap;

        .skill_icon {
            width: 120px;
            height: 120px;
            border: 2px solid $Photoshop;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        }
    }



    .Skill_right {
        width: 30%;
        height: 80%;
        background-color: #4169e1;
        border-radius: 80px;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 100px 0;

            .nav-link {
                height: 100px;
                letter-spacing: 5px;
                font-weight: 1000;
                font-size: 36px;
                color: #ffffff;
                line-height: 100px;
            }

            .nav-link:hover {
                background-color: $Mywhite;
                color: $MyOrange;
                cursor: pointer;
                transition: 0.3s;
            }
        }
    }
}

// Portfolio
.Portfolio {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .Portfolio_left {
        width: 50%;
        height: 70%;
        background-color: $Mywhite;
        margin-left: 100px;

        .Portfolio_explanation {
            width: 100%;
            height: 100%;

            .swiper-slide {
                width: 100%;
                height: 100%;
                padding: 50px;

                h2,
                h3,
                h5,
                h6,
                p {
                    text-align: left;
                }

                h2 {

                    font-size: 48px;
                }

                h3 {
                    font-size: 32px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    color: $Myblue;
                }

                .Portfolio_tag {
                    display: flex;
                }

                h4 {
                    width: 80px;
                    height: 40px;
                    line-height: 35px;
                    border: 2px solid $MyOrange;
                    margin: 20px 6px;
                    color: $MyOrange;
                    font-weight: 600;
                }

                h5 {
                    font-size: 24px;
                }

                h6 {
                    line-height: 35px;
                    font-size: 18px;
                }

                p {
                    width: 90%;
                    font-size: 18px;
                    font-weight: 500;
                }

                button {
                    width: 150px;
                    height: 40px;
                    border: 2px solid $Myblue;
                    font-size: 20px;
                    font-weight: 500;
                    color: $Myblue;
                    background-color: transparent;
                    margin-left: 500px;
                }
            }
        }

        .color_container {
            display: flex;
            flex-direction: row;

            .color_page {
                width: 15%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-right: 20px;

                .color {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                }
            }
        }

        .swiper-scrollbar-drag {
            background: $Myblue;
        }
    }

    .Portfolio_image {
        width: 493px;
        height: 735px;
    }
}


// Contact
.Contact_wallpaper {
    width: 100vw;
    height: 100vh;
    background-color: $Myblue;
    display: flex;
    align-items: center;

    .Contact_populate {
        width: 50%;
        height: 500px;

        .Contact_page {
            width: 100%;
            height: 500px;
            background-color: $Mywhite;
            padding: 60px;
            display: flex;
            text-align: left;
            justify-content: space-around;

            .Contact_Lastleft {
                h4 {
                    font-weight: 700;
                    font-size: 60px;
                    color: $Myblue;
                    letter-spacing: 5px;
                }

                p {
                    font-weight: 400;
                    font-size: 24px;
                    margin-top: 30px;
                    letter-spacing: 1px;
                }

                .Contact_Lastlogo {
                    width: 150px;
                    height: 60px;
                    background-color: $MyOrange;
                    margin-top: 160px;
                }

            }

            .Contact_profilepicture {
                width: 250px;
                height: 350px;
                background-color: #333;
            }

            .Contact_populate {
                width: 65%;
                font-size: 24px;
                font-weight: 500;
                margin-left: 40px;

                h5 {
                    font-size: 24px;
                    margin-bottom: 10px;
                    font-weight: 800;
                    letter-spacing: 1px;
                    color: $Myblue;
                }

                h6 {
                    text-align: end;
                    margin-top: 60px;
                    opacity: 40%;
                }

                p {
                    margin-bottom: 20px;
                    font-weight: 600;
                }
            }

            .Contact_Lastright {
                width: 35%;
                height: 100%;
                background-color: $Myblue;
            }
        }
    }

}